<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 text-white">
                <div class="navbar-logo">
                    <a href="">
                        <img class="navbar-logo-img-footer" src="/img/f8_text_logo.png" alt="">
                    </a>
                </div>
                <br>
                <p>F8 là nơi học lập trình miễn phí.</p>
                <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                <br>
                <p>© 2019 MyCV JSC. All rights reserved.</p>
            </div>
            <div class="col col-lg-2">
                <h3 class="mt-2 text-white">F8</h3>
                <br>
                <a href="" class="link-footer"><p>Giới thiệu</p></a>
                <a href="" class="link-footer"><p>Câu hỏi thường gặp</p></a>
                <a href="" class="link-footer"><p>Liên hệ</p></a>
            </div>
            <div class="col col-lg-2">
                <h3 class="mt-2 text-white">Sản phẩm</h3>
                <br>
                <a href="" class="link-footer"><p>MyCV.vn</p></a>
                <a href="" class="link-footer"><p>FullStack.edu.vn</p></a>
            </div>
            <div class="col col-lg-2">
                <h3 class="mt-2 text-white">Hỗ trợ</h3>
                <br>
                <a href="" class="link-footer"><p>Hỗ trợ</p></a>
                <a href="" class="link-footer"><p>Đóng góp</p></a>
            </div>
            <div class="col col-lg-3 text-white">
                <h3 class="mt-2 ">Theo dõi chúng tôi</h3>
                <br>
                <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
                <form action="">
                    <div class="form-group"> 
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                </form>
                <button type="button" class="btn btn-sub mt-2" style="background-color: #b80257;">Đăng ký</button>
            </div>
        </div>
    </div>
</div>