
<div class="navbar-header" >
    <div class="navbar navbar-expand-lg navbar-sub">
        <div class="container">
            <div class="navbar-logo">
                <a href="">
                    <img class="navbar-logo-img" src="/img/f8_text_logo.png" alt="">
                </a>
            </div>
            <div class="navbar-left d-none d-xl-block d-lg-block">
                <ul class="navbar-left-list navbar-nav">
                    <li class="nav-item" >
                        <a class="nav-link text-white" href="/">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/courses">KHÓA HỌC</a>
                    </li>
                    <li class="nav-item community">
                        <a class="nav-link text-white" href="">CỘNG ĐỒNG</a>
                        <div class="sub-community">
                    <ul class="sub-community-list list-sp">
                    <li class="sub-community-item">
                        <div>
                            <a class="nav-link " href="">
                                <span class="sub-community-item-name">F8 Official Channel</span>
                            </a>
                        </div>
                    </li>
                    <li class="sub-community-item">
                        <div>
                            <a class="nav-link"  href="">
                                <span class="sub-community-item-name">F8 Facebook Group</span>
                            </a>
                        </div>
                        
                    </li>
                    <li class="sub-community-item ">
                        <div>
                            <a class="nav-link "  href="">
                                <span class="sub-community-item-name">F8 Tạo CV Xin Việc</span>
                            </a>
                        </div>
                        
                    </li>
                </ul>
                </div>
                    </li>

                </ul>
                
            </div>
            <div class="navbar-right">
                <img class="navbar-right__img-avarta d-none d-xl-block d-lg-block" src="https://graph.facebook.com/905206533591178/picture?width=30&amp;height=30" alt="">
                <div class="navbar-right__name-member text-white d-none d-xl-block d-lg-block">
                    <p class="">Tuấn Minh</p>
                </div>
                <div class="navbar-right__icon">
                    <div class="navbar-right__icon-bookmark p-2">
                        <a href="">
                            <span class="text-white oi oi-bookmark"></span>
                        </a>
                    </div>
                    <div class="navbar-right__icon-bell p-2">
                        <a href="">
                            <span class="text-white oi oi-bell"></span>
                        </a>
                    </div>
                    <div class="navbar-right__icon-down d-none d-xl-block d-lg-block p-2">
                        
                            <span class="text-white oi oi-caret-bottom"></span>
                    
                        <div class="navbar-right__icon-down__sp">
                            <ul class="list-sp">
                                <li class="list-sp-item">
                                    <a class="nav-link" style="color:rgb(112, 112, 112); width:100%;" href="">
                                        <span class="oi oi-cog"></span>
                                        <span class=" list-sp-item__name">Cài đặt</span>
                                    </a>
                                </li>
                                <li class="list-sp-item">
                                    <a class="nav-link" style="color:rgb(112, 112, 112); width:100%;" href="">
                                        <span class="oi oi-account-logout"></span>
                                        <span class="list-sp-item__name">Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar-right__icon-menu d-lg-none p-2">
                        <span class="icon-menu oi oi-menu text-white"></span>
                        <div class="navbar-hide"></div>
                    </div>
                </div>
                <div class="navbar-separate d-none d-xl-block d-lg-block"></div>
            </div>
        </div>
    </div>
</div>

<script>
     document.addEventListener('DOMContentLoaded',function() {
        var menu=$('.navbar-hide');
        var iconMenu=$('.icon-menu');
        var overlay=$('.over-lay');
        var navbarRes=$('.navbar-res');
        iconMenu.click(function() {
            menu.html(`
                <div class="over-lay">
                            <div class="navbar-res">
                                <div class="navbar-res__header">
                                    <img class="navbar-right__img-avarta" src="https://graph.facebook.com/905206533591178/picture?width=50&amp;height=50" alt="">
                                    <div class="navbar-res__header-name">
                                        <span class="text-black">Tuấn Minh</span>
                                    </div>
                                    <div class="navbar-res-close">
                                        <span class="oi oi-x"></span>
                                    </div>
                                </div>
                                <ul class="navbar-res-list list-sp">
                                    <li class="navbar-res-item">
                                        <a class="nav-link" href="">
                                            <span class="text-secondary p-2 oi oi-home"></span>
                                            <span class="text-secondary p-2">Trang Chủ</span>
                                        </a>
                                    </li>
                                    <li class="navbar-res-item">
                                        <a class="nav-link" href="">
                                            <span class="text-secondary p-2 oi oi-book"></span>
                                            <span class="text-secondary p-2">Khóa Học</span>
                                        </a>
                                    </li><li class="navbar-res-item">
                                        <a class="nav-link" href="">
                                            <span class="text-secondary p-2 oi oi-cog"></span>
                                            <span class="text-secondary p-2">Cài Đặt</span>
                                        </a>
                                    </li><li class="navbar-res-item">
                                        <a class="nav-link" href="">
                                            <span class="text-secondary p-2 oi oi-account-logout"></span>
                                            <span class="text-secondary p-2">Đăng Xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
            `);
            var close=$('.navbar-res-close');
            close.click(function() {
                menu.html(` `);
                
            })
            
            $(document).mouseup(function(e) {
                var navbarHide=$('.navbar-res');
                if(!navbarHide.is(e.target)&& navbarHide.has(e.target).length === 0){
                    menu.html(` `);
                }
            })
        })
        

     })
    
</script>

